{% extends "base.html" %}
{% load static %}

{% block title %} Servicing Form {% endblock %}

{% block body_block %}

<!DOCTYPE html>
    <body>    
        <img src="{% static '4d.png' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="{% static '11.jpg' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="{% static '3d.png' %}">  
    </body>
</html>

    <div>
        <h1><u><b>Servicing Form</b></u></h1>
    </div>

    <div style="float: right;">
        <form method="GET" class="form-inline">
            <div class="input-group">
                <input type="search" name="search_query" placeholder="search" class="form-control" required>
                <select name="search_type" style="margin-left:10px;" class="search-select" >
                    <option value="name" selected>Name</option>
                </select>
                <div style="margin-left:10px;">
                    <button type="submit" class="btn btn-danger" >Search</button>
                </div>
            </div>
        </form>
    </div>
    
  <table class="table table-bordered table-hover">
        <thead class="bg-danger">
            <tr>
                <th scope="col">Options</th>
                <th scope="col">No.</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Phone_Number</th>
                <th scope="col">Department</th>
                <th scope="col">Number_Of_PC</th>
                <th scope="col">Approval_Person</th>
                <th scope="col">Technician</th>
                <th scope="col">Servicing_Date</th>
                <th scope="col">Remark</th>
            </tr>
        </thead>
        <tbody>
            {% for service in service_list %}
            <tr>
                <td>
                    <a href="{% url 'service_detail' pk=service.pk %}"><img src="{% static 'info_icon.png' %}" alt="Details" width="25" height="25"></a>
                    {% if user.is_superuser %}
                        <a href="{% url 'service_delete' pk=service.pk %}"><img src="{% static 'del_icon.png' %}" alt="Delete" width="25" height="25"></a>
                        <a href="{% url 'service_update' pk=service.pk %}"><img src="{% static 'edit_icon.png' %}" alt="Edit" width="25" height="25"></a>
                    {% endif %}
                </td>
                
                <td>{{ forloop.counter }}</td>
                <td>{{ service.name }}</td>
                <td>{{ service.address }}</td>
                <td>{{ service.phonenumber }}</td>
                <td>{{ service.department }}</td>
                <td>{{ service.numberofpc }}</td>
                <td>{{ service.approvalperson }}</td>
                <td>{{ service.technician }}</td>
                <td>{{ service.servicingdate }}</td>
                <td>{{ service.remark }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

 

</div><br><br>

{% endblock body_block %}